{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<form method = 'POST' action = '' {% url 'django.contrib.auth.views.login' %} > {% csrf_token %}
<h1>Login!!</h1>
<table>
	<tr>
		<td>{{ form.username.label_tag }}</td>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</tr>
</table>
<input type="Submit" value = "login" />
<input type="hidden" name = "next" value="{{ next }}"/>
<a href = : "{% url 'password_reset_recover' %}">Forget your password!!!</a>
</form>
{% endblock %}
